{% extends 'base.html.twig' %}

{% block body %}
    <div id='root'></div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('scheduler') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('scheduler') }}
{% endblock %}
