{% extends 'base.html.twig' %}

{% block body %}
    <div id='root'></div>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    body {margin:  0}
</style>
{{ parent() }}
    {{ encore_entry_link_tags('scheduler') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('scheduler') }}
{% endblock %}
