{% extends 'base.html.twig' %}

{% block body %}

<div class="row" style="margin-bottom: 10px">
    <video id="live" width=640 height=360 class="video-js vjs-default-skin" controls muted>
      <source
         src="http://localhost:8583/hls/live.m3u8"
         type="application/x-mpegURL">
    </video>
</div>

{#{ public_ip }#}

{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('stream') }}
{% endblock %}
{% block javascripts %}

    {{ encore_entry_script_tags('stream') }}

    <script>
        (function(window, videojs) {
          var player = window.player = videojs('live');

          player.ready(function() {
               player.play();
          });
        }(window, window.videojs));
    </script>
{% endblock %}
