{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Stream</h1>
</div>

<div class="table-responsive">
    <video id="live" width=640 height=360 class="video-js vjs-default-skin" controls muted>
      <source
         src="{{path('hls_stream')}}"
         type="application/x-mpegURL">
    </video>
</div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('stream') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('stream') }}

    <script>

        (function(window, videojs) {
          var player = window.player = videojs('live');

          player.ready(function() {
               player.play();
          });
        }(window, window.videojs));
    </script>
{% endblock %}
