{% extends 'base.html.twig' %}

{#% import '@SyliusUi/Macro/messages.html.twig' as messages %#}

{% block body %}

    {% if resources|length > 0 %}

        {% for resource in resources %}
            {{resource.id}}
            <br>
            {{resource.name}}
        {% endfor %}

    {% else %}
        <div class="ui stackable grid segment">
            <div class="ui sixteen wide column">
                {{ messages.info('sylius.ui.no_results_to_display') }}
            </div>
        </div>
    {% endif %}

{#% import '@SyliusUi/Macro/messages.html.twig' as messages %#}
{#% import '@SyliusUi/Macro/pagination.html.twig' as pagination %#}

<div class="ui clearing hidden divider"></div>

{% endblock %}
